#MainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(180, 255, 193);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#choose{
    justify-content: center;
}

#questiondifficulty{
    justify-content: center;
    align-items: center;
}

.subButton{
    margin-top: 15px;
    height: fit-content;
}

.QandA{
    display: flex;
    flex-direction: column;
}